:root {
  --black: #000;
  --green: #20ff00;
  --green-soft: #8cff79;
  --green-dark: #063d00;
  --white: #f5fff2;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: black;
  color: white;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;

  background-image: url("../images/background.png");
  background-size: cover;
  background-position: center;


  z-index: -1;
}

a {
  color: var(--white);
  text-decoration: none;
}

a:hover {
  color: var(--green);
  text-shadow: 0 0 8px var(--green);
}

footer {
  border-top: 2px solid var(--green);
  padding: 1rem;
  text-align: center;
  color: var(--green-soft);
  font-size: 0.85rem;
}